Repository auros-one/django-sveltekit-starter: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, django-check, frontend-prettier, frontend-eslint, sync-types

poetry-check:
  name: poetry check
  language: system
  entry: bash -c 'cd backend && poetry check'
  pass_filenames: false

django-check:
  name: django check
  language: system
  entry: bash -c 'cd backend && poetry run python manage.py check --deploy --fail-level WARNING'
  pass_filenames: false

frontend-prettier:
  name: prettier (frontend)
  language: system
  entry: bash -c 'cd frontend && npm run format'
  pass_filenames: false

frontend-eslint:
  name: eslint (frontend)
  language: system
  entry: bash -c 'cd frontend && npm run lint'
  pass_filenames: false

sync-types:
  name: sync API types from backend
  language: system
  entry: bash -c 'cd frontend && npm run sync-types'
  pass_filenames: false

run pre-commit + make sync-types
  README.md
Due: none

CI frontend
  .github/workflows/frontend.yml
  frontend/.env.example
Due: none

frontend CI
  .github/workflows/frontend.yml
Due: none

banner
  README.md
  banner.png
Due: none

new banner
  banner.png
Due: none

Revert "new banner"
  banner.png
Due: none

test
  README.md
Due: none

improve makefile
  Makefile
Due: none

favicon
  frontend/src/app.html
  frontend/src/routes/(no-auth)/account/reset-password/+page.svelte
  frontend/src/routes/(no-auth)/account/reset-password/confirm/+page.svelte
  frontend/src/routes/(no-auth)/account/sign-in/+page.svelte
  frontend/src/routes/(no-auth)/account/sign-up/+page.svelte
  frontend/src/routes/(no-auth)/welcome/+page.svelte
  frontend/static/favicon.ico
  frontend/static/favicon.png
  frontend/static/icon.ico
  frontend/static/icon.png
Due: frontend-prettier, frontend-eslint

clean welcome page
  frontend/src/routes/(no-auth)/welcome/+page.svelte
Due: frontend-prettier, frontend-eslint

compose
  docker-compose.yml
Due: none

frontend dockerfile
  frontend/Dockerfile
Due: none

make fresh-start info
  README.md
Due: none

adapter-auto
  frontend/svelte.config.js
Due: frontend-prettier, frontend-eslint

debug
  docker-compose.yml
Due: none

adapter-auto
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

improve make test
  Makefile
Due: none

landing page
  frontend/src/routes/(no-auth)/welcome/+page.svelte
  frontend/static/landing-page/claude.png
  frontend/static/landing-page/cursor.png
  frontend/static/landing-page/devin.png
  frontend/static/landing-page/docker.png
  frontend/static/landing-page/git.png
  frontend/static/landing-page/openai.png
Due: frontend-prettier, frontend-eslint

upgrade make lint
  Makefile
Due: none

refactor auth & navbar into components
  frontend/src/lib/components/layout/AuthProvider.svelte
  frontend/src/lib/components/layout/HorizontalNavbar.svelte
  frontend/src/lib/components/layout/SubNavigation.svelte
  frontend/src/lib/config/routes.ts
  frontend/src/routes/(auth)/+layout.svelte
Due: frontend-prettier, frontend-eslint

multi-tenancy
  Makefile
  README.md
  backend/project/accounts/admin.py
  backend/project/accounts/migrations/0001_initial.py
  backend/project/accounts/migrations/0002_alter_user_name.py
  backend/project/accounts/models.py
  backend/project/accounts/serializers.py
  backend/project/accounts/tests/test_admin_auth.py
  backend/project/accounts/tests/test_auth_apis.py
  backend/project/accounts/tests/test_forms.py
  backend/project/accounts/tests/test_models.py
  backend/project/accounts/tests/test_views.py
  backend/project/accounts/urls.py
  backend/project/accounts/views.py
  backend/project/conftest.py
  backend/project/core/docs/tests.py
  backend/project/core/management/commands/setup_dev_env.py
  backend/project/core/middleware.py
  backend/project/core/tests/test_views.py
  backend/project/settings.py
  backend/project/urls.py
  frontend/src/lib/api/schema.d.ts
Due: django-check, frontend-prettier, frontend-eslint, sync-types

wording
  frontend/src/routes/(auth)/account/+page.svelte
Due: frontend-prettier, frontend-eslint

navbar
  frontend/src/lib/components/layout/CommandPalette.svelte
  frontend/src/lib/components/layout/HorizontalNavbar.svelte
  frontend/src/lib/components/layout/IframeContainer.svelte
  frontend/src/lib/components/layout/ModernNavbar.svelte
  frontend/src/lib/components/layout/ModernSubNav.svelte
  frontend/src/lib/config/routes.ts
  frontend/src/routes/(auth)/(admin)/admin/cloud/+layout.svelte
  frontend/src/routes/(auth)/(admin)/admin/cloud/api-docs/+page.svelte
  frontend/src/routes/(auth)/(admin)/admin/cloud/home/+page.svelte
  frontend/src/routes/(auth)/(admin)/admin/cloud/tasks/+page.svelte
  frontend/src/routes/(auth)/+layout.svelte
  multi-tentancy-migration.md
Due: frontend-prettier, frontend-eslint

fixes
  backend/poetry.lock
  backend/pyproject.toml
  frontend/.npmrc
  frontend/src/lib/components/layout/ModernNavbar.svelte
Due: poetry-check, frontend-prettier, frontend-eslint

ui and linting
  frontend/eslint.config.js
  frontend/src/lib/components/SendVerificationEmail.svelte
  frontend/src/lib/components/forms/accounts/ChangeEmailForm.svelte
  frontend/src/lib/components/forms/accounts/ChangePasswordForm.svelte
  frontend/src/routes/(auth)/account/+page.svelte
Due: frontend-prettier, frontend-eslint

api docs page
  frontend/src/routes/(auth)/(admin)/admin/cloud/api-docs/+page.svelte
Due: frontend-prettier, frontend-eslint

IsAdminUser permission
  backend/project/core/permissions.py
Due: django-check

add missing celery services
  docker-compose.yml
Due: none

fix docs are only accesible by admin
  backend/project/core/docs/tests.py
  backend/project/core/docs/urls.py
Due: django-check, sync-types

polish UI/UX Account Settings
  frontend/src/routes/(auth)/account/+page.svelte
Due: frontend-prettier, frontend-eslint

expadn CommandPalette
  frontend/src/lib/components/layout/CommandPalette.svelte
Due: frontend-prettier, frontend-eslint

rename cloud tasks to cloud jobs
  frontend/src/lib/config/routes.ts
  frontend/src/routes/(auth)/(admin)/admin/cloud/+layout.svelte
  frontend/src/routes/(auth)/(admin)/admin/cloud/jobs/+page.svelte
  frontend/src/routes/(auth)/+layout.svelte
Due: frontend-prettier, frontend-eslint

fix commandpaltte
  frontend/src/lib/components/layout/CommandPalette.svelte
Due: frontend-prettier, frontend-eslint

make all
  Makefile
Due: none

fix flower embed
  docker-compose.yml
Due: none

Path conditions:
  poetry-check: any of: ^backend/pyproject\.toml$
  django-check: any of: ^backend/.*\.py$
  frontend-prettier: any of: ^frontend/.*\.(js|ts|json|svelte|html|css|md)$
  frontend-eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  sync-types: any of: ^backend/.*(models|serializers|views|urls).*\.py$
