Repository auros-one/django-sveltekit-starter: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, django-check, frontend-prettier, frontend-eslint, sync-types

poetry-check:
  name: poetry check
  language: system
  entry: bash -c 'cd backend && poetry check'
  pass_filenames: false

django-check:
  name: django check
  language: system
  entry: bash -c 'cd backend && poetry run python manage.py check --deploy --fail-level WARNING'
  pass_filenames: false

frontend-prettier:
  name: prettier (frontend)
  language: system
  entry: bash -c 'cd frontend && npm run format'
  pass_filenames: false

frontend-eslint:
  name: eslint (frontend)
  language: system
  entry: bash -c 'cd frontend && npm run lint'
  pass_filenames: false

sync-types:
  name: sync API types from backend
  language: system
  entry: bash -c 'cd frontend && npm run sync-types'
  pass_filenames: false

SiteAdmin
  backend/project/accounts/admin.py
Due: django-check

chatuit-artifact
  chatui-artifact.md
Due: none

simplify
  frontend/src/routes/(auth)/refresh-token/+server.ts
Due: frontend-prettier, frontend-eslint

Fix test environment and password reset form - Add test site fixture, create CustomPasswordResetForm for frontend URLs, all 66 tests passing with 92% coverage
  backend/project/accounts/adapters.py
  backend/project/accounts/admin.py
  backend/project/accounts/forms.py
  backend/project/accounts/serializers.py
  backend/project/accounts/tests/test_auth_apis.py
  backend/project/accounts/tests/test_views.py
  backend/project/accounts/views.py
  backend/project/conftest.py
  backend/project/core/docs/tests.py
  backend/project/core/middleware.py
  backend/pyproject.toml
  frontend/.env.example
  frontend/src/hooks.server.ts
  frontend/src/lib/api/schema.d.ts
  frontend/src/lib/utils/backendProxy.ts
  frontend/src/lib/utils/proxyUtils.ts
  frontend/src/lib/utils/thirdPartyProxies.ts
  frontend/src/routes/(no-auth)/sentry/+server.ts
  multi-tentancy-migration.md
Due: poetry-check, django-check, frontend-prettier, frontend-eslint, sync-types

fix iframe
  frontend/src/lib/components/layout/IframeContainer.svelte
Due: frontend-prettier, frontend-eslint

auth flow fixes
  frontend/src/lib/components/layout/AuthProvider.svelte
  frontend/src/lib/utils/backendProxy.ts
  frontend/src/lib/utils/jwt.ts
  frontend/src/lib/utils/proxyUtils.ts
  frontend/src/routes/(auth)/+layout.svelte
Due: frontend-prettier, frontend-eslint

fix names
  frontend/src/lib/config/routes.ts
  frontend/src/routes/(auth)/(admin)/admin/cloud/home/+page.svelte
  frontend/src/routes/(auth)/(admin)/admin/cloud/jobs/+page.svelte
Due: frontend-prettier, frontend-eslint

iframe
  frontend/src/lib/components/layout/IframeContainer.svelte
Due: frontend-prettier, frontend-eslint

UI and explanation expansion
  artifacts/README.md
  artifacts/basic-table-artifact.md
  artifacts/chatui-artifact.md
  backend/pyproject.toml
  frontend/src/lib/components/AICodingAssistants.svelte
  frontend/src/lib/components/ArtifactCard.svelte
  frontend/src/lib/components/ArtifactList.svelte
  frontend/src/lib/components/layout/IframeContainer.svelte
  frontend/src/lib/components/loading/Spinner.svelte
  frontend/src/lib/config/routes.ts
  frontend/src/lib/data/artifacts.ts
  frontend/src/lib/types/artifact.ts
  frontend/src/routes/(auth)/(admin)/admin/artifacts/+page.svelte
  frontend/src/routes/(auth)/+page.svelte
  frontend/src/routes/(no-auth)/welcome/+page.svelte
  frontend/src/routes/artifacts/+page.svelte
  frontend/static/artifacts/README.md
  frontend/static/artifacts/basic-table-artifact.md
  frontend/static/artifacts/chatui-artifact.md
  frontend/sync-artifacts.sh
  frontend/vite.config.ts
Due: poetry-check, frontend-prettier, frontend-eslint

copywrite
  frontend/src/routes/(auth)/+page.svelte
Due: frontend-prettier, frontend-eslint

expand make & pre commit fix
  .pre-commit-config.yaml
  Makefile
Due: none

fix svelte check
  frontend/src/lib/components/ArtifactCard.svelte
  frontend/src/lib/components/layout/CommandPalette.svelte
  frontend/src/lib/components/layout/ModernNavbar.svelte
  frontend/src/lib/components/layout/ModernSubNav.svelte
  frontend/src/routes/(no-auth)/account/verify-email/+page.svelte
Due: frontend-prettier, frontend-eslint

move dockerfiles
  .github/workflows/integration.yml
  MONOREPO-GUIDE.md
  docker-compose.yml
  frontend/docker/Dockerfile
Due: none

delete unused docker-compose
  backend/docker-compose.prod.yml
Due: none

try fix
  .github/workflows/backend.yml
Due: none

docker-compose -> docker compose
  .github/workflows/integration.yml
  CLAUDE.md
  MONOREPO-GUIDE.md
Due: none

fix file path
  .github/workflows/integration.yml
Due: none

rework actions
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
Due: none

skip hook
  .github/workflows/backend.yml
Due: none

try a 1 CI
  .github/workflows/backend.yml
  .github/workflows/ci.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
Due: none

don't all always run
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
Due: none

fix skip
  .github/workflows/backend.yml
Due: none

fix url
  .github/workflows/integration.yml
Due: none

optimize CI efficiency
  .github/workflows/integration.yml
  backend/.dockerignore
  docker-compose.ci.yml
  frontend/.dockerignore
Due: none

set TENANT_DOMAIN
  docker-compose.yml
Due: none

add curl to frontend docker
  frontend/docker/Dockerfile
Due: none

potential fix
  .github/workflows/integration.yml
Due: none

try fix env vars
  .github/workflows/integration.yml
  docker-compose.ci.yml
  docker-compose.yml
Due: none

fix make dev
  Makefile
Due: none

fix pre-commit
  .github/workflows/ci.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  docker-compose.ci.yml
  frontend/.dockerignore
Due: none

makefile
  MONOREPO-GUIDE.md
  Makefile
  README.md
Due: none

fixeroni
  Makefile
Due: none

fix for compose run
  frontend/.env.example
Due: none

deprecated navbar
  frontend/src/lib/components/layout/HorizontalNavbar.svelte
Due: frontend-prettier, frontend-eslint

fix dropdown
  frontend/src/lib/components/layout/ModernNavbar.svelte
Due: frontend-prettier, frontend-eslint

remove some third parties
  frontend/src/lib/utils/thirdPartyProxies.ts
Due: frontend-prettier, frontend-eslint

don't proxy refresh-token
  frontend/src/routes/(auth)/refresh-token/+server.ts
Due: frontend-prettier, frontend-eslint

simplify
  frontend/src/lib/utils/backendProxy.ts
Due: frontend-prettier, frontend-eslint

remove deprecated docs
  MONOREPO-GUIDE.md
  multi-tentancy-migration.md
Due: none

Path conditions:
  poetry-check: any of: ^backend/pyproject\.toml$
  django-check: any of: ^backend/.*\.py$
  frontend-prettier: any of: ^frontend/.*\.(js|ts|json|svelte|html|css|md)$
  frontend-eslint: any of: ^frontend/.*\.(js|ts|svelte)$
  sync-types: any of: ^backend/.*(models|serializers|views|urls).*\.py$
